*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Inter',sans-serif;
    background:#050816;
    color:#fff;
    overflow-x:hidden;
}

a{
    text-decoration:none;
    color:white;
}

ul{
    list-style:none;
}

/* NAVBAR */

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(20px);
    border-bottom:1px solid rgba(255,255,255,.1);
    z-index:1000;
}

.logo h2{
    font-size:28px;
    font-weight:800;
    letter-spacing:2px;
}

nav ul{
    display:flex;
    gap:35px;
}

nav a{
    transition:.3s;
}

nav a:hover{
    color:#38bdf8;
}

.nav-btn{
    background:#38bdf8;
    color:#050816;
    padding:12px 22px;
    border-radius:50px;
    font-weight:700;
    transition:.3s;
}

.nav-btn:hover{
    transform:translateY(-3px);
}

/* HERO */

.hero{
    min-height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:140px 8% 80px;
    gap:60px;
}

.hero-content{
    max-width:650px;
}

.hero h1{
    font-size:64px;
    line-height:1.1;
    margin-bottom:25px;
}

.hero span{
    color:#38bdf8;
}

.hero p{
    font-size:20px;
    color:#b8b8b8;
    line-height:1.8;
    margin-bottom:40px;
}

.hero-buttons{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.primary-btn{
    background:#38bdf8;
    color:#050816;
    padding:16px 32px;
    border-radius:50px;
    font-weight:700;
}

.secondary-btn{
    border:2px solid #38bdf8;
    padding:16px 32px;
    border-radius:50px;
}

.hero-image img{
    width:520px;
    max-width:100%;
    animation:float 5s ease-in-out infinite;
}

@keyframes float{
    0%,100%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-18px);
    }
}

/* Scroll Indicator */

.scroll-down{
    position:absolute;
    bottom:30px;
    left:50%;
    transform:translateX(-50%);
}

.scroll-down span{
    display:block;
    width:22px;
    height:40px;
    border:2px solid white;
    border-radius:20px;
    position:relative;
}

.scroll-down span::before{
    content:'';
    position:absolute;
    top:8px;
    left:50%;
    transform:translateX(-50%);
    width:6px;
    height:6px;
    background:white;
    border-radius:50%;
    animation:scroll 2s infinite;
}

@keyframes scroll{
    0%{opacity:1;top:8px;}
    100%{opacity:0;top:24px;}
}

/* Mobile */

@media(max-width:992px){

.hero{
flex-direction:column;
text-align:center;
padding-top:160px;
}

nav{
display:none;
}

.hero h1{
font-size:44px;
}

.hero-buttons{
justify-content:center;
}

}
